@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #FF5A5F;
  --grey: #7A7D7D;
  --medium: #D0CFCF;
  --dark: #565254;
  --light: #FFFBFE;
  --light-grey: #F7F7F7;
  --white: #FFFFFF;
}

::-moz-selection {
  background: var(--dark);
  color: var(--light);
}

::selection {
  background: var(--dark);
  color: var(--light);
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light);
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

a, p, h1, h2, h3, h4, h5, h6, ul, li, button, input, textarea {
  color: var(--dark);
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

ul, li {
  list-style: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--light);
  width: 250px;
  place-items: top left;
  padding: 2rem 0;
  margin: 0;
  transition: all 0.5s ease-in-out;
  border-right: 1px solid var(--medium);
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul li {
  width: 100%;
  text-align: left;
  padding: 1rem;
}

nav ul li i {
  margin-right: .5rem;
  width: 20px;
  transform: translateY(-1px);
}

.page {
  margin: 0;
  padding: 2rem;
  margin-left: 300px;
  width: calc(100vw - 300px);
  height: 100vh;
}

.page p {
  word-break: break-all;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--light);
  width: 250px;
  place-items: top left;
  padding: 2rem 0;
  margin: 0;
  transition: all 0.5s ease-in-out;
  border-right: 1px solid var(--medium);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar_element {
  width: 100%;
  text-align: left;
  padding: 1rem 0;
  padding-left: 1rem;
}

.navbar_element:hover {
  background-color: var(--light-grey);
}

.navbar_subelement {
  padding: .5rem 0;
  text-align: left;
  padding-left: 2rem;
}

.navbar_subelement:hover a {
  font-weight: bold;
  filter: brightness(0);
}

.navbar_bottom {
  align-self: flex-end;
}

.card {
  background-color: var(--light);
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 1rem auto;
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.flex-100 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.radius-full {
  border-radius: 100% !important;
}

.margin-bottom-50 {
  margin-bottom: 25px;
}